.add_btn {
  display: flex;
  align-items: center;
  margin: 0 10px;
  border: none;
  background: none;
}

.add_btn i {
  margin-right: 10px;
}

.modal__wrpapper--addLocation form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
}

.modal__wrpapper--addLocation__content label {
  width: 100px;
  text-align: right;
  padding: 0 10px;
  margin-top: 10px;
} 

.modal__wrpapper--addLocation__content input {
  width: 200px;
}

.modal__wrpapper--addLocation form button {
  padding: 3px 20px;
  background: #fff;
  border: 1px solid #64A8D1;
  border-radius: 5px;
}

.modal__wrpapper--addLocation__btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: #fff;
}