.modal__wrpapper {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  display: flex;
  margin: 3% 7%;
  background: #fff;
  border: 1px solid #64A8D1;
  display: none;
}

.modal__active {
  display: flex;
}

.modal__wrpapper--contentAdd {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__wrpapper--contentInf {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal__wrpapper--close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  cursor: pointer;
}